.home {
    top: 50px;
}

.chat-rooms {
    position: fixed;
    top: 50px;
    left: 0px;
    bottom: 0px;
    width: 320px;
    background-color: #a8a9bd;
    z-index: 3;
}

.chat-rooms-title {
    margin: 20px 15px 0px 10px;
    font-weight: bold;
    font-size: 3rem;
    float: left;
}

.chat-rooms button {
    margin-top: 25px;
}

.chat-rooms ul {
    margin-top: 10px;
    margin-left: 5px;
    list-style: none;
}

.chat-rooms ul a {
    text-decoration: none; 
}

.chat-room {
    margin-left: 330px;
    margin-right: 10px;
    margin-top: 55px;
    
}

.chat-room ul {
    height: calc(100vh - 180px);
    overflow-y: scroll;
}

.list-group-item-gray {
    background-color: #a8a9bd;
}

.chat-room-form {
    position: fixed;
    left: 320px;
    right: 0px;
    bottom: 0px;
    height: 100px;
    display: inline-block;
}

.chat-room-form .message {
    resize: none;
    height: 50px;
    width: calc(100vw - 400px);
    margin-left: 10px;
    margin-top: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.chat-room-form button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    margin-top: 25px;
    height: 50px;
    box-shadow: none;
    border: solid .5px gray;
    background-color: #a8a9bd;
}

.chat-rooms-collapsed {
    display: none;
    position: fixed;
    top: 50px;
    left: 0px;
    bottom: 0px;
    width: 40px;
    background-color: #a8a9bd;
    z-index: 3;
}

.chat-rooms-collapsed-icon {
    height: 50%;
    position: relative;
}

.chat-rooms-collapsed-icon span {
    margin-left: 15px;
    position: absolute;
    bottom: 0;
}

.chat-rooms-collapsed:hover {
    cursor: pointer;
}

@media (max-width: 768px) {

    .rotate,
    .rotate-back,
    .slide-in,
    .slide-out {
        transition: 0.5s;
    }

    .rotate {
        transform: rotate(180deg);
    }

    .rotate-back {
        transform: rotate(0deg);
    }

    .slide-in {
        left: 320px;
    }

    .slide-out {
        left: 0px
    }

    .chat-rooms.slide-in {
        left: 0px;
    }

    .chat-rooms.slide-out {
        left: -320px;
    }

    .chat-room {
        margin-left: 50px;
    }

    .chat-room-form {
        left: 40px;
    }

    .chat-room-form .message {
        width: calc(100vw - 120px);
    }

    .chat-rooms-collapsed {
        display: block;
    }
}